version: '3.1'

services:

  redis:    
    container_name: redis
    image: redis
    restart: always   
    ports:
      - 6379:6379


  tgbot:
    container_name: meal_bot
    build:
      context: .
    command: python -m app
    network_mode: host
    restart: always
    env_file:
      - ".env"
    depends_on:
      - redis
